$color-yellow: #FBB30B;

.flex-container {
    display: flex;
    flex-wrap: wrap;

    .side {
        flex: 30%;
    }

    .main {
        flex: 70%;      
    }
}
.search {
    top: 38px;
    left: 393px;
    width: 616px;
    height: 56px;
    border: 1px solid #ECECEC;
    border-radius: 16px;
    opacity: 1;
}

.label {
    width: 81px;
    height: 30px;
    background-color: $color-yellow;
    border-radius: 8px;
    opacity: 1px;
    color:#FFFF;
    font-size: 14px/17px;
    font-weight: Bold;
    font-family: Graphie;
    letter-spacing: 0px;
    opacity: 1;
    padding: 15px;
}

.gigs {
    text-align: left;
    font-weight: Regular Bold;
    font-size: 45px/63px;
    font-family: CircularStd;
    letter-spacing: 0px;
    color: #2C263D;
    opacity: 0.8;
}

.nav_text {
    text-align: left;
    font-weight: Regular Medium;
    font-size: 20px/28px;
    font-weight:  Std;
    letter-spacing: 0px;
    color: #585461;
    opacity: 1;
}

.rejected-gigs {
    margin-right: 70px;
}
