$color-blue: #2f417e;

.button {
    background-color: $color-blue;
    color: #ffffff;
    height: 35px;
    border-radius: 10px ;
    margin: 5px;
    font-size: 18px/26px;
    border: 1px solid #F6F6F6;
    border-radius: 15px;
    opacity: 1;
    letter-spacing: 0px;
    font-weight: Regular;
    font-family: StdBook;

    &:hover {
        color: white;
    }
}

.icon {
    margin-left: 10px;
}

.btn-add {
    margin-right: 85px;
}